//colors
$violet: violet;
$white: white;;

//fonts
$font_0: Courier New;
$font_1: Courier;
$font_2: monospace;

body {
	background-color: $violet;
	font-family: $font_0, $font_1, $font_2;
}
.heading {
	color: $white;
	font-family: $font_0, $font_1, $font_2;
}