$color_1: white;
$font_family_1: Arial, Helvetica, sans-serif;
$background_color_2: black;

body {
  background-color: $background_color_2;
  font-family: $font_family_1;
  padding-top: 90px;

  // div.app-source {
  //   div.header {
  //     nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top{
  //       a.navbar-brand{
  //         img.card-inline-block.align-top{
  //           width: 40px;
  //           margin-right: 10px;
  //         }
  //         strong{
  //           font-size: 35px;
  //         }

  //       }

  //     }
  //   }
  // }
}
